<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->

      <%- partial ('./nn') %> <!-- EL PARTIAL ORIGIAL ES es sidebar-user-panel -->
      <!-- search form (Optional) -->

      <%- partial ('./nn') %> <!-- EL PARTIAL ORIGIAL ES es sidebar-search -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <%- partial ('./sidebar-menu') %> <!-- EL PARTIAL ORIGIAL ES es navbarCustomMenu -->
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
