<div class="wrapper">

  <%- partial ('../partials/header') %> <!-- Main Header -->
  <%- partial ('../partials/main-sidebar') %> <!-- Left side column. contains the logo and sidebar -->

  <div class="content-wrapper"> <!-- Content Wrapper. Contains page content -->

    <section class="content-header"> <!-- Content Header (Page header) -->
      <h1>DashBoard <small>Control de Taxis en Zonas</small></h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">dashboard</li>
      </ol>
    </section> <!-- /. Content Header (Page header) -->

    <section class="content"> <!-- Main content -->

      <!-- Your Page Content Here -->
      <h1>aqui vendra todo mi contenido</h1>



    </section> <!-- /.content -->
  </div> <!-- /.content-wrapper -->

  <%- partial ('../partials/footer') %> <!-- Main Footer -->
  <%- partial ('../partials/control-sidebar') %> <!-- Control Sidebar -->

</div>

